.c1,.c1:hover{
	color: #fff;
	border-color: #3c8b3c;
	background: #4cae4c;
	background: -webkit-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: -moz-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: -o-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: linear-gradient(to bottom,#4cae4c 0,#449d44 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cae4c,endColorstr=#449d44,GradientType=0);
}
a.c1:hover{
	background: #449d44;
	filter: none;
}
.c2,.c2:hover{
	color: #fff;
	border-color: #5f5f5f;
	background: #747474;
	background: -webkit-linear-gradient(top,#747474 0,#676767 100%);
	background: -moz-linear-gradient(top,#747474 0,#676767 100%);
	background: -o-linear-gradient(top,#747474 0,#676767 100%);
	background: linear-gradient(to bottom,#747474 0,#676767 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#747474,endColorstr=#676767,GradientType=0);
}
a.c2:hover{
	background: #676767;
	filter: none;
}
.c3,.c3:hover{
	color: #333;
	border-color: #ff8080;
	background: #ffb3b3;
	background: -webkit-linear-gradient(top,#ffb3b3 0,#ff9999 100%);
	background: -moz-linear-gradient(top,#ffb3b3 0,#ff9999 100%);
	background: -o-linear-gradient(top,#ffb3b3 0,#ff9999 100%);
	background: linear-gradient(to bottom,#ffb3b3 0,#ff9999 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffb3b3,endColorstr=#ff9999,GradientType=0);
}
a.c3:hover{
	background: #ff9999;
	filter: none;
}
.c4,.c4:hover{
	color: #333;
	border-color: #52d689;
	background: #b8eecf;
	background: -webkit-linear-gradient(top,#b8eecf 0,#a4e9c1 100%);
	background: -moz-linear-gradient(top,#b8eecf 0,#a4e9c1 100%);
	background: -o-linear-gradient(top,#b8eecf 0,#a4e9c1 100%);
	background: linear-gradient(to bottom,#b8eecf 0,#a4e9c1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b8eecf,endColorstr=#a4e9c1,GradientType=0);
}
a.c4:hover{
	background: #a4e9c1;
	filter: none;
}
.c5,.c5:hover{
	color: #fff;
	border-color: #b52b27;
	background: #d84f4b;
	background: -webkit-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: -moz-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: -o-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: linear-gradient(to bottom,#d84f4b 0,#c9302c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d84f4b,endColorstr=#c9302c,GradientType=0);
}
a.c5:hover{
	background: #c9302c;
	filter: none;
}
.c6,.c6:hover{
	color: #fff;
	border-color: #1f637b;
	background: #2984a4;
	background: -webkit-linear-gradient(top,#2984a4 0,#24748f 100%);
	background: -moz-linear-gradient(top,#2984a4 0,#24748f 100%);
	background: -o-linear-gradient(top,#2984a4 0,#24748f 100%);
	background: linear-gradient(to bottom,#2984a4 0,#24748f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2984a4,endColorstr=#24748f,GradientType=0);
}
a.c6:hover{
	background: #24748f;
	filter: none;
}
.c7,.c7:hover{
	color: #fff;
	border-color: #FF7B2E;
	background: #FF7B2E;
	background: -webkit-linear-gradient(top,#FF7B2E 0,#FF7B2E 100%);
	background: -moz-linear-gradient(top,#FF7B2E 0,#FF7B2E 100%);
	background: -o-linear-gradient(top,#FF7B2E 0,#FF7B2E 100%);
	background: linear-gradient(to bottom,#FF7B2E 0,#FF7B2E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF7B2E,endColorstr=#D7D7D7,GradientType=0);
}
a.c7:hover{
	background: #D7D7D7;
	color: #FF7B2E;
	border-color: #fff;
	filter: none;
}
.c8,.c8:hover{
	color: #fff;
	border-color: #4b72a4;
	background: #698cba;
	background: -webkit-linear-gradient(top,#698cba 0,#577eb2 100%);
	background: -moz-linear-gradient(top,#698cba 0,#577eb2 100%);
	background: -o-linear-gradient(top,#698cba 0,#577eb2 100%);
	background: linear-gradient(to bottom,#698cba 0,#577eb2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#698cba,endColorstr=#577eb2,GradientType=0);
}
a.c8:hover{
	background: #577eb2;
	filter: none;
}
.c9,.c9:hover{
	color: #fff;
	border-color: #BA14B4;
	background: #F217EB;
	background: -webkit-linear-gradient(top,#F217EB 0,#BA14B4 100%);
	background: -moz-linear-gradient(top,#F217EB 0,#BA14B4 100%);
	background: -o-linear-gradient(top,#F217EB 0,#BA14B4 100%);
	background: linear-gradient(to bottom,#F217EB 0,#BA14B4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F217EB,endColorstr=#BA14B4,GradientType=0);
}
a.c10:hover{
	background: #BA14B4;
	filter: none;
}
.c10,.c10:hover{
	color: #fff;
	border-color: #870C0C;
	background: #960808;
	background: -webkit-linear-gradient(top,#960808 0,#870C0C 100%);
	background: -moz-linear-gradient(top,#960808 0,#870C0C 100%);
	background: -o-linear-gradient(top,#960808 0,#870C0C 100%);
	background: linear-gradient(to bottom,#960808 0,#870C0C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#960808,endColorstr=#870C0C,GradientType=0);
}
a.c10:hover{
	background: #C40000;
	filter: none;
}

a.c11:hover{
	background: #E80B0B;
	filter: none;
}
.c11,.c11:hover{
	color: #fff;
	border-color: #A80000;
	background: #c9302c;
	background: -webkit-linear-gradient(top,#c9302c 0,#A80000 100%);
	background: -moz-linear-gradient(top,#c9302c 0,#A80000 100%);
	background: -o-linear-gradient(top,#c9302c 0,#A80000 100%);
	background: linear-gradient(to bottom,#c9302c 0,#A80000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9302c,endColorstr=#A80000,GradientType=0);
}
a.c11:hover{
	background: #c9302c;
	filter: none;
}
