*{
	font-size:12px;
}
body{
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    font-size:13px;
    margin:0;
}
.easyui-validatebox{
    font-family:helvetica,tahoma,verdana,sans-serif;
	text-transform:uppercase;
}
.easyui-textbox{
    font-family:helvetica,tahoma,verdana,sans-serif;
	text-transform:uppercase;
}
.easyui-combobox{
    font-family:helvetica,tahoma,verdana,sans-serif;
	text-transform:uppercase;
}
.easyui-combogrid{
    font-family:helvetica,tahoma,verdana,sans-serif;
	text-transform:uppercase;
}
.easyui-datagrid{
    font-family:helvetica,tahoma,verdana,sans-serif;
	text-transform:uppercase;
}
#titulo{font-size:22px; color:#036; font-weight:bold;position:absolute; bottom:5px;}
#user_name{font-size:12px; color:#00F; width:100%; font-weight:bold; position:absolute; bottom:5px; float:right; text-align:right;}
user_name{
    font-size:12px;
    font-weight:bold;
	position:absolute;
	bottom:5px;
	color:#00F;
}
h3 {
    font-size:18px;
    font-weight:bold;
    margin:0;
	margin-left:20px;
    margin-bottom:15px;
}
#pie{
	position:absolute;
	bottom:0px;
}
.demo-info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.demo-tip{
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
}
#about_tip{
	color:#00F;
}

#fm{
	margin:0;
	padding:10px 30px;
}
.ftitle{
	font-size:14px;
	font-weight:bold;
	color:#666;
	padding:5px 0;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.fitem{
	margin-bottom:5px;
}
.fitem label{
	display:inline-block;
	width:100px;
}
.fitem label2{
	display:inline-block;
	width:150px;
}
.fitem label3{
	display:inline-block;
	width:200px;
}
.fitem label5{
	display:inline-block;
	width:50px;
}
.fitem label6{
	display:inline-block;
	width:10px;
}
.fitem label7{
	display:inline-block;
	width:75px;
}
.fitem label8{
	display:inline-block;
	width:65px;
}