.icon-bar-char{
	background:url('icons/3d-bar-chart.png') no-repeat center center;
}
.icon-abort{
	background:url('icons/abort.png') no-repeat center center;
}
.icon-about{
	background:url('icons/about.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-accounting{
	background:url('icons/accounting.png') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-address-book{
	background:url('icons/address-book.png') no-repeat center center;
}
.icon-alarm{
	background:url('icons/alarm.png') no-repeat center center;
}
.icon-alarm-clock{
	background:url('icons/alarm-clock.png') no-repeat center center;
}
.icon-alert{
	background:url('icons/alert.png') no-repeat center center;
}
.icon-alien{
	background:url('icons/alien.png') no-repeat center center;
}
.icon-anchor{
	background:url('icons/anchor.png') no-repeat center center;
}
.icon-application{
	background:url('icons/application.png') no-repeat center center;
}
.icon-apply{
	background:url('icons/apply.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-bad-mark{
	background:url('icons/bad-mark.png') no-repeat center center;
}
.icon-bee{
	background:url('icons/bee.png') no-repeat center center;
}
.icon-black-bookmark{
	background:url('icons/black-bookmark.png') no-repeat center center;
}
.icon-black-pin{
	background:url('icons/black-pin.png') no-repeat center center;
}
.icon-black-tag{
	background:url('icons/black-tag.png') no-repeat center center;
}
.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-blog{
	background:url('icons/blog.png') no-repeat center center;
}
.icon-blue-bookmark{
	background:url('icons/blue-bookmark.png') no-repeat center center;
}
.icon-blue-key{
	background:url('icons/blue-key.png') no-repeat center center;
}
.icon-blue-pin{
	background:url('icons/blue-pin.png') no-repeat center center;
}
.icon-blue-tag{
	background:url('icons/blue-tag.png') no-repeat center center;
}
.icon-bomb{
	background:url('icons/bomb.png') no-repeat center center;
}
.icon-bookmark{
	background:url('icons/bookmark.png') no-repeat center center;
}
.icon-boss{
	background:url('icons/boss.png') no-repeat center center;
}
.icon-bottom{
	background:url('icons/bottom.png') no-repeat center center;
}
.icon-briefcase{
	background:url('icons/briefcase.png') no-repeat center center;
}
.icon-brush{
	background:url('icons/brush.png') no-repeat center center;
}
.icon-bubble{
	background:url('icons/bubble.png') no-repeat center center;
}
.icon-buy{
	background:url('icons/buy.png') no-repeat center center;
}
.icon-newdoc{
	background:url('icons/new_document.png') no-repeat center center;
}
.icon-modify{
	background:url('icons/modify.png') no-repeat center center;
}
.icon-erase{
	background:url('icons/erase.png') no-repeat center center;
}
.icon-goodmark{
	background:url('icons/goodmark.png') no-repeat center center;
}
.icon-error{
	background:url('icons/error.png') no-repeat center center;
}
.icon-people{
	background:url('icons/people.png') no-repeat center center;
}
.icon-report{
	background:url('icons/report.png') no-repeat center center;
}
.icon-go-forward{
	background:url('icons/go_forward.png') no-repeat center center;
}
.icon-forward{
	background:url('icons/forward.png') no-repeat center center;
}
.icon-sync{
	background:url('icons/Sync.png') no-repeat center center;
}
.icon-downloads-folder{
	background:url('icons/downloads_folder.png') no-repeat center center;
}

.icon-download{
	background:url('icons/Download.png') no-repeat center center;
}

.icon-clipboard{
	background:url('icons/clipboard.png') no-repeat center center;
}
.icon-text{
	background:url('icons/Text.png') no-repeat center center;
}
.icon-upload{
	background:url('icons/upload.png') no-repeat center center;
}
.icon-list{
	background:url('icons/list.png') no-repeat center center;
}
.icon-equipment{
	background:url('icons/equipment.png') no-repeat center center;
}
.icon-display{
	background:url('icons/display.png') no-repeat center center;
}
.icon-play{
	background:url('icons/Play.png') no-repeat center center;
}
.icon-group{
	background:url('icons/group.png') no-repeat center center;
}
.icon-key{
	background:url('icons/Key.png') no-repeat center center;
}
.icon-paste{
	background:url('icons/Paste.png') no-repeat center center;
}
.icon-calendar{
	background:url('icons/Calendar.png') no-repeat center center;
}
.icon-calendar2{
	background:url('icons/Calendar2.png') no-repeat center center;
}
.icon-print2{
	background:url('icons/Print2.png') no-repeat center center;
}
.icon-script{
	background:url('icons/Script.png') no-repeat center center;
}
.icon-script2{
	background:url('icons/Script2.png') no-repeat center center;
}
.icon-schedule{
	background:url('icons/Schedule.png') no-repeat center center;
}
.icon-create{
	background:url('icons/Create.png') no-repeat center center;
}
.icon-edit_large{
	background:url('icons/edit_large.png') no-repeat center center;
}
.icon-text_preview{
	background:url('icons/Text_preview.png') no-repeat center center;
}
.icon-find{
	background:url('icons/Find.png') no-repeat center center;
}
.icon-trash{
	background:url('icons/Trash.png') no-repeat center center;
}





.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-help2{
	background:url('icons/help2.png') no-repeat center center;
}
.icon-help3{
	background:url('icons/help3.png') no-repeat center center;
}
.icon-hint{
	background:url('icons/Hint.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-print2{
	background:url('icons/print2.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-undo2{
	background:url('icons/Undo2.png') no-repeat center center;
}
.icon-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}


.icon-thumbsup{
	background:url('icons/Thumbsup.png') no-repeat center center;
}

.icon-thumbsdown{
	background:url('icons/Thumbsdown.png') no-repeat center center;
}

.icon-undotran{
	background:url('icons/Undo3.png') no-repeat center center;
}

.icon-mail{
	background:url('icons/Mail.png') no-repeat center center;
}
.icon-problem{
	background:url('icons/Problem.png') no-repeat center center;
}

.icon-retort{
	background:url('icons/Retort.png') no-repeat center center;
}